{% extends 'newsapp/base.html' %} {% block content %}
{% load i18n %}
{% load newsapp_tags %} 

<div class="container text-right" style="margin-left: 5px; width: 450px">
  <!-- Translation --> 
<form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
  <input type="hidden" name="next" value="{{ redirect_to }}">
  
  <select class="form-select-sm" name="language" id="">
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}

      {% for language in languages %}
          <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
              {{ language.name_local }} - {{ language.code }}
          </option>
      {% endfor %}
  </select>
  <input type="submit" class="btn-sm btn-outline-danger" value="set">
</form>

</div>


<style>
  .rounded-img {
    width: 100%;
    border-radius: 10%;
  }
</style>

{% category_subscribe_form %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for p in posts %}
    <div class="col" style="padding-top: 20px">
      <div class="card">
        <h5>{% trans "Category:" %} {{p.postCategory}}</h5>
        <p>{% trans "Date:" %} {{p.dateCreation|date:"d-m-Y H:i:s"}}</p>
        {% if p.photo %}
        <img class="rounded-img" src="{{p.photo.url}}" alt="image" />
        <!-- <img class="card-img-top" src="{{p.photo.url}}" alt="image" /> -->
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{p.title}}</h4>
          <p class="card-text">{{p.text|linebreaks|truncatechars:500}}</p>
          <a
            href="{{ p.get_absolute_url }}"
            target="_blank"
            class="btn btn-outline-success"
            >{% trans "Read the Post:" %}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr />


{% endblock %}
