{% extends 'newsapp/base.html' %} {% load newsapp_tags %}{% block content %}
<div></div>
{% category_subscription %}
<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
    {% for p in posts %}
    <div class="col" style="padding-top: 20px">
      <div class="card post_card">
        <h5>"Категория:" {{p.postCategory}}</h5>
        <p>"Дата:" {{p.dateCreation|date:"d-m-Y H:i:s"}}</p>
        {% if p.photo %}
        <a class="img_box" href="{{ p.get_absolute_url }}" target="_blank">
          <img class="rounded-img" src="{{p.photo.url}}" alt="image" />
        </a>
        <!-- <img class="card-img-top" src="{{p.photo.url}}" alt="image" /> -->
        {% endif %}
        <div class="card-body post_card">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">{{p.text|truncatechars:500}}</p>
          <a
            href="{{ p.get_absolute_url }}"
            target="_blank"
            class="btn btn-outline-success btn_read"
            >Read the Post:</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr />

{% endblock %}
