<div
  class="container text-center"
  style="margin-top: 50px; margin-bottom: 50px"
>
  <h4 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
    Подписаться на выбранную категорию
  </h4>
  <p>
    By subscribing to our mailing list you will always get the latest news and
    updates from us.
  </p>

  <form action="{% url 'catsubscribe' %}" method="post">
    {% csrf_token %}
    <table>
      {{ category_subscription }}
    </table>

    <button type="submit" class="btn-sm btn-outline-success">
      Подписаться
    </button>
  </form>
</div>
