{% load i18n %}

<div
  class="container text-center"
  style="margin-top: 50px; margin-bottom: 50px"
>
  <h4 class="footer-title text-uppercase warning-sign">
    Подписаться на выбранную категорию
  </h4>

  <p>
    By subscribing to our mailing list you will always get the latest news and
    updates from us.
  </p>

  <div>
    <form class="catsubscribe" action="{% url 'catsubscribe' %}" method="post">
      {% csrf_token %}
      <div>
        <table class="form-control catsubscribe_field">
          {{ category_subscription }}
        </table>
      </div>
      <button type="submit" class="btn-sm btn-outline-success btn-subscribe">
        Подписаться
      </button>
    </form>
  </div>
</div>
